@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Kdam+Thmor+Pro&family=Lobster&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Kdam+Thmor+Pro&family=Lobster&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Kdam+Thmor+Pro&family=Lobster&family=Quicksand:wght@300&display=swap');

/* header */

.container1 {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: url(../img/img1.png) no-repeat center / cover;
    height: 324px;
    width: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-top: 40px;
    font-family: poppins semibold;
}

.nav-link {
    font-size: 17px;
    margin-left: 10px;
    padding-left: 10px;
    color: #fff;
    font-family: poppins;
    font-weight: bold;
}

.nav-link:hover {
    color: #5863F8;
    transition: 0.3s ease;
}

.rightbox {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 40px;
}

.white {
    color: #fff;
}

.logo {
    justify-content: start;
    color: #fff;
    font-size: 24px;
    font-family: poppins bold;
    margin-top: 40px;
    font-weight: 900;
}

.contact {
    font-size: 42px;
    font-family: poppins extrabold;
}

.hm-cn {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 14px;
    font-family: poppins medium;
    margin-top: 30px;
    text-align: center;
}

.p1 {
    margin-right: 10px;
    border-right: 1px white solid;
    padding-right: 25px;
}

.p2 {
    margin-left: 10px;
}


/* sec2 */

.map1 {
    height: 286px;
    margin-top: 80px;
    width: 100%;
    background: url(/img/Rectangle\ 827.png);
}


/* contact us */

.contact-us {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    max-width: 369px;
}

.blue-contact {
    color: #5863F8;
    font-size: 14px;
    font-family: poppins;
    font-weight: 600;
    margin-bottom: 15px;
}

.title2 {
    font-size: 41px;
    font-family: poppins extrabold;
    color: #000000;
}


/* FORMS */

.forms {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.forms2 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
}

.form1 {
    width: 720px;
    height: 288px;
}

.form2 {
    width: 352px;
    height: 60px;
}

.button {
    color: #5863F8;
}

.f3 {
    font-family: poppins;
    font-size: 14;
    font-weight: 800;
    color: #fff;
}


/* circles */

.circles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.circle {
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863F8;
}

.email {
    flex-direction: column;
}

.phone {
    flex-direction: column;
}

.location {
    flex-direction: column;
}

.black {
    color: #000000;
}

.grey {
    color: #B1B1B1;
}

.titles {
    width: 574px;
    height: 135px;
    flex-direction: column;
    margin-top: 60px;
}

.blue {
    color: blue;
    font-size: 14px;
    font-family: poppins;
    font-weight: 600;
}

.black1 {
    color: #000000;
    font-family: poppins extrabold;
    font-size: 42px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.flex-footer {
    background-color: #121212;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 390px;
    align-items: center;
}

.left-box1 {
    width: 260px;
    height: 191px;
}

.links {
    width: 103px;
    height: 155px;
}

.privacy {
    width: 78px;
    height: 155px;
}

.contactt {
    width: 198px;
    height: 145px;
}

.bluee {
    color: #5863F8;
    margin-top: 8px;
}

.whitee {
    font-size: 20px;
    color: white;
    font-weight: 1000;
}

.bigtext {
    margin-top: 20px;
}

.whitee2 {
    margin-top: 20px;
    color: white;
}